<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hayao Miyazaki</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/works">See his works</a>
      <a href=""></a>
    </nav>

    <div id="home-contents">
      <h1>Hayao Miyazaki</h1>
      <img src="/images/hayaomiyazaki.jpg" alt="image" />
      <p id="intro">
        Hayao Miyazaki (宮崎 駿, Miyazaki Hayao, [mijaꜜzaki hajao]; born January
        5, 1941) is a Japanese animator, director, producer, screenwriter,
        author, and manga artist. A co-founder of Studio Ghibli, he has attained
        international acclaim as a masterful storyteller and creator of Japanese
        animated feature films, and is widely regarded as one of the most
        accomplished filmmakers in the history of animation.
      </p>

      <h2>Early life</h2>
      <p>
        Miyazaki has noted that some of his earliest memories are of "bombed-out
        cities". In 1944, when he was three years old, Miyazaki's family
        evacuated to Utsunomiya.[5] After the bombing of Utsunomiya in July
        1945, he and his family evacuated to Kanuma. The bombing left a
        lasting impression on Miyazaki, then aged four.
      </p>
      <p>
        After graduating from Ōmiya Junior High, Miyazaki attended Toyotama High
        School.[25] During his third and final year, Miyazaki's interest in
        animation was sparked by Panda and the Magic Serpent (1958), Japan's
        first feature-length animated film in color; he had sneaked out to
        watch the film instead of studying for his entrance exams Miyazaki
        later recounted that he fell in love with the film's heroine, Bai-Niang,
        and that the film moved him to tears and left a profound impression;[f]
        he wrote that he was "moved to the depths of [his] soul" and that the
        "pure, earnest world of the film" affirmed a side of him that "yearned
        desperately to affirm the world rather than negate it". After
        graduating from Toyotama, Miyazaki attended Gakushuin University in the
        department of political economy, majoring in Japanese Industrial Theory.
        In 1960, Miyazaki was a bystander during the Anpo protests, having
        developed an interest after seeing photographs in Asahi Graph; by that
        point, he was too late to participate in the demonstrations.
        Miyazaki graduated from Gakushuin in 1963 with degrees in political
        science and economics.
      </p>
      <h2>Career</h2>
      <p>
        In June 1985, Miyazaki, Takahata, Tokuma and Suzuki founded the
        animation production company Studio Ghibli, with funding from Tokuma
        Shoten. Studio Ghibli's first film, Laputa: Castle in the Sky (1986),
        employed the same production crew of Nausicaä. Miyazaki's designs for
        the film's setting were inspired by Greek architecture and "European
        urbanistic templates". Some of the architecture in the film was also
        inspired by a Welsh mining town; Miyazaki witnessed the mining strike
        upon his first visit to Wales in 1984, and admired the miners'
        dedication to their work and community. Laputa was released on
        August 2, 1986. It was the highest-grossing animation film of the year
        in Japan.[84] Miyazaki's following film, My Neighbor Totoro, was
        released alongside Takahata's Grave of the Fireflies in April 1988 to
        ensure Studio Ghibli's financial status. The simultaneous production was
        chaotic for the artists, as they switched between projects. My
        Neighbor Totoro features the theme of the relationship between the
        environment and humanity—a contrast to Nausicaä, which emphasises
        technology's negative effect on nature. While the film received
        critical acclaim, it was commercially unsuccessful at the box office.
        However, merchandising was successful, and the film was labelled as a
        cult classic.
      </p>
    </div>
  </body>
</html>
