<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>His works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body id="works-contents">
    <nav>
        <a href="/">Home</a>
        <a href="/works">See his works</a>
        <a href=""></a>
      </nav>
    
    <h1>His works</h1>
    <div id="films">
      <div class="workContainer">
        <h2>Nausicaä of the Valley of the Wind</h2>
        <img src="/images/valleyOfTheWind.jpg" />
      </div>
      <div class="workContainer">
        <h2>Castle in the Sky</h2>
        <img src="/images/castleInTheSky.jpg" />
      </div>
      <div class="workContainer">
        <h2>My Neighbor Totoro</h2>
        <img src="/images/totoro.jpg" />
      </div>
      <div class="workContainer">
        <h2>Kiki's Delivery Service</h2>
        <img src="/images/kiki.jpg" />
      </div>
    </div>

    
  </body>
</html>
